In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras import layers
import tensorflow.keras
import warnings
warnings.filterwarnings("ignore")
from sklearn import metrics
import math
from math import log
import random
from random import randint
import numpy as np 
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras import layers
import tensorflow.keras
import warnings
import math
from sklearn import svm
from sklearn import datasets
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import LinearSVC
from sklearn.datasets import make_blobs
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
from sklearn import neighbors
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
#This is the result for testing between Physics, History, and Computer Science apartment of four colleges
#UR, UB, VAN, MIT, STAN
#The dataset has a total size of 752,
#We chose 20 words that matters the most to form the dataset, 
#and label data from History as "1", data from Physics as "2", and data from Computer Science as "3".

In [3]:
#This is the part to do some basic process about the dataset. For the firt 163 rows, which is the data from history,
#add in a label "1". And for the following 285 rows, which is the data from Physics, add in a label "2".
#For the last 307 rows, which is the data from Computer Science, add in a label "3".
#Then, to merge the three datasets (History + Physics + Computer Science) to get the final dataset.
smalltest = pd.read_csv("data_ult1.csv") #Import the dataset.
smalltest = smalltest.drop('Unnamed: 0', axis = 1)
smalltest = smalltest.iloc[:, :20]
smalltest

,research,theory,computer,science,engineering,systems,publication,areas,quantum,view,details,experiment,data,matter,award,software,graduate,studies,group,press
0,-0.000000,-0.0,-0.000000,-0.000000,-1.651928,-0.000000,-0.000000,-0.0,-0.0,-0.000000,-0.000000,-0.0,-0.000000,-0.0,-0.000000,-0.0,-2.554438,-0.738531,-0.000000,-0.000000
1,-2.573404,-0.0,-0.000000,-0.000000,-0.440352,-0.000000,1.316423,-0.0,-0.0,-0.000000,-0.000000,-0.0,-0.000000,-0.0,17.144637,-0.0,-1.102714,-0.000000,-0.000000,4.030341
2,-10.696343,-0.0,-0.000000,-0.000000,-0.551570,-0.000000,-0.110373,-0.0,-0.0,-0.000000,-0.000000,-0.0,-0.594716,-0.0,-0.000000,-0.0,-1.404124,-0.124594,-0.000000,-0.013771
3,-6.772392,-0.0,-0.000000,-0.000000,-0.352838,-0.000000,-0.068191,-0.0,-0.0,-0.000000,-0.000000,-0.0,-0.000000,-0.0,-0.000000,-0.0,5.300289,-0.096421,-0.000000,-0.000000
4,-0.000000,-0.0,-0.000000,-0.000000,-2.456565,-0.000000,-0.000000,-0.0,-0.0,-0.000000,-0.000000,-0.0,-0.000000,-0.0,-0.000000,-0.0,-3.938366,-0.000000,-0.000000,-0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747,1.969160,-0.0,4.420371,49.879686,11.453568,-0.000000,-0.000000,-0.0,-0.0,-0.000000,-0.000000,-0.0,22.871539,-0.0,12.763654,-0.0,-0.000000,-0.000000,-0.000000,-0.000000
748,0.032520,-0.0,-0.000000,-0.023703,-0.000000,5.596857,-0.000000,-0.0,-0.0,-0.000000,-0.000000,-0.0,19.137306,-0.0,-0.000000,-0.0,-0.000000,-0.000000,-0.000000,-0.000000
749,6.342011,-0.0,-0.023687,0.395851,-0.000000,3.866156,-0.000000,-0.0,-0.0,-0.030405,-0.026462,-0.0,0.172494,-0.0,0.025274,-0.0,0.000858,-0.000000,-0.000000,-0.000000
750,-1.409676,-0.0,24.502687,0.732851,2.227217,-0.000000,-0.000000,-0.0,-0.0,-0.000000,-0.000000,-0.0,-0.000000,-0.0,5.716478,-0.0,-0.000000,-0.000000,0.007511,-0.000000
751,-1.887824,-0.0,-0.550843,-0.744606,-0.000000,-0.000000,-0.000000,-0.0,-0.0,-0.000000,-0.000000,-0.0,1.165408,-0.0,-0.000000,-0.0,-0.000000,-0.000000,0.176694,-0.000000

In [4]:
filt = smalltest.iloc[0:162] #Get the first 163 rows (data for History)
filt['output'] = [1 for row in range(len(filt))] #Add in a label "1" for the first 118 rows
filt2 = smalltest.iloc[162:446] #Get the next 285 rows (data for Physics)
filt2['output'] = [2 for row in range(len(filt2))] #Add in a label "2" for the next 270 rows
filt3 = smalltest.iloc[446:752] #Get the last 307 rows (data for Computer Science)
filt3['output'] = [3 for row in range(len(filt3))] #Add in a label "3" for the last 222 rows
smalltest = pd.merge(filt, filt2, how = 'outer') #Merge the three datasets for History, Physics, and Computer Science
smalltest = pd.merge(smalltest, filt3, how = 'outer')
smalltest

,research,theory,computer,science,engineering,systems,publication,areas,quantum,view,...,experiment,data,matter,award,software,graduate,studies,group,press,output
0,-0.000000,-0.0,-0.000000,-0.000000,-1.651928,-0.000000,-0.000000,-0.0,-0.0,-0.000000,...,-0.0,-0.000000,-0.0,-0.000000,-0.0,-2.554438,-0.738531,-0.000000,-0.000000,1
1,-2.573404,-0.0,-0.000000,-0.000000,-0.440352,-0.000000,1.316423,-0.0,-0.0,-0.000000,...,-0.0,-0.000000,-0.0,17.144637,-0.0,-1.102714,-0.000000,-0.000000,4.030341,1
2,-10.696343,-0.0,-0.000000,-0.000000,-0.551570,-0.000000,-0.110373,-0.0,-0.0,-0.000000,...,-0.0,-0.594716,-0.0,-0.000000,-0.0,-1.404124,-0.124594,-0.000000,-0.013771,1
3,-6.772392,-0.0,-0.000000,-0.000000,-0.352838,-0.000000,-0.068191,-0.0,-0.0,-0.000000,...,-0.0,-0.000000,-0.0,-0.000000,-0.0,5.300289,-0.096421,-0.000000,-0.000000,1
4,-0.000000,-0.0,-0.000000,-0.000000,-2.456565,-0.000000,-0.000000,-0.0,-0.0,-0.000000,...,-0.0,-0.000000,-0.0,-0.000000,-0.0,-3.938366,-0.000000,-0.000000,-0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747,1.969160,-0.0,4.420371,49.879686,11.453568,-0.000000,-0.000000,-0.0,-0.0,-0.000000,...,-0.0,22.871539,-0.0,12.763654,-0.0,-0.000000,-0.000000,-0.000000,-0.000000,3
748,0.032520,-0.0,-0.000000,-0.023703,-0.000000,5.596857,-0.000000,-0.0,-0.0,-0.000000,...,-0.0,19.137306,-0.0,-0.000000,-0.0,-0.000000,-0.000000,-0.000000,-0.000000,3
749,6.342011,-0.0,-0.023687,0.395851,-0.000000,3.866156,-0.000000,-0.0,-0.0,-0.030405,...,-0.0,0.172494,-0.0,0.025274,-0.0,0.000858,-0.000000,-0.000000,-0.000000,3
750,-1.409676,-0.0,24.502687,0.732851,2.227217,-0.000000,-0.000000,-0.0,-0.0,-0.000000,...,-0.0,-0.000000,-0.0,5.716478,-0.0,-0.000000,-0.000000,0.007511,-0.000000,3
751,-1.887824,-0.0,-0.550843,-0.744606,-0.000000,-0.000000,-0.000000,-0.0,-0.0,-0.000000,...,-0.0,1.165408,-0.0,-0.000000,-0.0,-0.000000,-0.000000,0.176694,-0.000000,3

In [5]:
#This is the part to separate training set and testing set. I would pick a size of 15 as testing set, which includes
#5 data from History, 5 data from Physics, and 5 data from Computer Science.
#To pick testing set, randomly select three locations in three categories and by adding 3 each time, get 5 different 
#locations in each category.
#Afterwards, the testing set would be used to see how many words would be accurately predicted.
#We would repeat this process for 100 times to get the average number of words that are correctly predicted.

In [6]:
answer = []
count = 0
for i in range(100):
    smalltest_new = pd.merge(filt, filt2, how = 'outer') #Merge the three datasets for History, Physics, and Computer Science
    smalltest_new = pd.merge(smalltest_new, filt3, how = 'outer')
    loc_1 = random.randint(0, 160)
    loc_2 = random.randint(170, 440)
    loc_3 = random.randint(450,730)
    #print("loc_1: ", loc_1)
    #print("loc_2: ", loc_2)
    #print("loc_3: ", loc_3)

    #This part arims at separating testing and training set from the whole dataset.
    test_x = smalltest_new.iloc[[loc_1, loc_1+3, loc_1+6, loc_1+9, loc_1+12, loc_2, loc_2+3, loc_2+6, loc_2+9, loc_2+12, loc_3, loc_3+3, loc_3+6, loc_3+9, loc_3+12], :]
    train_x = smalltest_new.drop([loc_1, loc_1+3, loc_1+6, loc_1+9, loc_1+12, loc_2, loc_2+3, loc_2+6, loc_2+9, loc_2+12, loc_3, loc_3+3, loc_3+6, loc_3+9, loc_3+12])
    test_y = np.array(test_x['output'])
    test_x = test_x.drop('output', axis = 1)
    train_y = np.array(train_x['output'])
    train_x = train_x.drop('output', axis = 1)
    
    #This is the part for SVM. We choose the value of C and kernel function
    lin = svm.SVC(kernel = 'rbf', C = 100)
    lin.fit(train_x, train_y)
    predict = lin.predict(test_x)
    
    #This is the aprt of KNN. We choose the number of clusters and weights
    #knn = neighbors.KNeighborsRegressor(14, weights="uniform")
    #knn.fit(np.array(train_x), np.array(train_y))
    #predict = knn.predict(test_x)
    
    acc_num = sum(predict == test_y)
    answer.append(acc_num)

accuracy = np.average(answer)

print("accuracy:", accuracy)

accuracy: 12.34

In [ ]:
#A part used to test randomly select samples

In [8]:
loc_1 = random.randint(0, 160)
loc_2 = random.randint(170, 440)
loc_3 = random.randint(450,750)
print("loc_1: ", loc_1)
print("loc_2: ", loc_2)
print("loc_3: ", loc_3)

test_x = smalltest.iloc[[loc_1, loc_1+3, loc_1+6, loc_1+9, loc_1+12, loc_2, loc_2+3, loc_2+6, loc_2+9, loc_2+12, loc_3, loc_3+3, loc_3+6, loc_3+9, loc_3+12], :]
train_x = smalltest.drop([loc_1, loc_1+3, loc_1+6, loc_1+9, loc_1+12, loc_2, loc_2+3, loc_2+6, loc_2+9, loc_2+12, loc_3, loc_3+3, loc_3+6, loc_3+9, loc_3+12])
test_y = np.array(test_x['output'])
test_x = test_x.drop('output', axis = 1)
train_y = np.array(train_x['output'])
train_x = train_x.drop('output', axis = 1)

loc_1:  111
loc_2:  312
loc_3:  515

In [ ]:
#This is the part for testing SVM. We used the function .SVC directly since it's convenient and powerful.

In [318]:
#SVM
from sklearn import svm
from sklearn import datasets
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import LinearSVC
from sklearn.datasets import make_blobs
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt

In [319]:
#For kernel function, we just pick "linear". We found out that the accuracy of linear function is already 100%,
#and we don't think we need to make the model more complicated by choosing another kernel function while linear function 
#can already work really well. For C, we just pick 100. We tried to test different C, like 0.01, 1, 100, 10000, but 
#there isn't much difference in the result. Therefore, we just picked 100.

In [320]:
lin = svm.SVC(kernel = 'rbf', C = 100)
lin.fit(train_x, train_y)
predict = lin.predict(test_x)
acc_num = sum(predict == test_y)
acc_num

11

In [321]:
#This is the part to show final result. Predict shows the array of predicted result. 
#Accuracy show the percentage of accuracy.
#confusion_matrix would draw a confusion matrix which represents our result.

In [322]:
print("Predict:", predict)
print("Accuracy:" , acc_num/15)
confusion_matrix(test_y, predict)

Predict: [2 1 1 1 1 2 2 2 2 2 2 3 2 2 3]
Accuracy: 0.7333333333333333

array([[4, 1, 0],
       [0, 5, 0],
       [0, 3, 2]])